.arrow{
  fill: transparent;
  stroke: #333;
  stroke-width: 3;
}

.arrow.active {
  stroke: #FFBA49;
}

.arrow:hover{
  cursor: pointer;
}

.arrow-red {
  stroke: red;
}
.dashed {
  stroke: red;
  stroke-width: 2;
  fill: #333;
  stroke-dasharray: 3;
}
