form#node-details {
  position: absolute;
  top: -300px;
  left: 0px;
  float: left;

  width: 230px;
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;

  .form-group {
    font-family: arial;
    font-size: 12px;
    margin: 5px 0;
  }
  label {
     display: inline-block;
     width: 70px;
     text-align: right;
   }
  button {
    float: right;
  }

  .arrow-left {
     position: absolute;
     width: 0;
     height: 0;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;

     border-right:10px solid white;
     margin-left: -18px;
     margin-top: 15px;
   }

  &.show-form {
    opacity: 1.0;
    transition: transform 1s, opacity 1s;
    transform: translate(0px, -50px);
    z-index:100;
  }

  &.hide-form {
    opacity: 0.0;
    transition: transform 1s, opacity 1s;
    transform: translate(0px, 50px);
    top: -300px;
    left: 0px;
  }

}

.shadow {
   -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow:    3px 3px 5px 0px rgba(0,0,0,0.2);  /* Firefox 3.5 - 3.6 */
   box-shadow:         3px 3px 5px 0px rgba(0,0,0,0.2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


