.g-usermap {
  fill: transparent;
  stroke: #D7263D;
  stroke-width: 1;
  stroke-dasharray: 5;
}

.g-usermap--header {
  fill: #666;
  stroke: #333;
  stroke-width: 1;
}
.g-usermap--title {
  fill: #fff;
  font-family: arial;
  font-size: 12px;
  text-align: center;
}

