.icon-button {
  transition: stroke 0.5s ease;
  stroke: transparent;
  stroke-width: 1;
  fill: transparent;
}
.icon-button.active {
  stroke: #999;
  stroke-width: 1;
}
.icon-button:hover {
  cursor: pointer;
}
