.node{
  fill: #1B998B; //teal
  stroke: #000;
  stroke-width: 5;
}

.node:hover,
.node--payments:hover,
.node--help:hover,
.node--choose:hover {
  cursor: pointer;
}
.node--teal{
  fill: #1B998B; //teal
}
.node--red{
  fill: #D7263D; //red
}
.node--purple {
  fill: #2E294E; //purple
}
.node--orange {
  fill: #F46036; //orange
}

.node--payments{
  fill: #D7263D; //red
}
.node--help {
  fill: #2E294E; //purple
}
.node--choose {
  fill: #F46036; //orange
}

.node.active,
.node.activeDrag {
  stroke: #FFBA49;
}

.node.selected {
  stroke: #fff;
}

.service {
  fill: #D7263D; //red
  stroke: #000;
  stroke-width: 5;
  stroke-dasharray: 5;
}
