#toolbox {
  background: #666;
  float: left;
}

#gr_toolbox {
  fill: #666;
  stroke: #000;
  stroke-width: 1;
}

.toolbox-label--bkg {
  fill: #999;
  stroke: #333;
  stroke-width: 1;
}

.toolbox-label--text {
  fill: #fff;
  alignment-baseline: middle;
  text-anchor: middle;
}
