{% extends "layout-impress.html" %}

{% block main %}


<div id="overview" class="step" data-x="0" data-y="0" data-scale="5">
</div>

<div class="step" data-x="-3800" data-y="-2700" data-scale="2">
  Underpaid Journey
</div>

<!-- Print the images -->

<div class="step slide" data-x="-4200" data-y="-2000">
  <h1> Title here </h1>
  <img src="/public/images/underpaid-issued-coded-out-1.png" width="600">
  <h2> URL here </h2>
</div>

<div class="step" data-x="-3250" data-y="-2300">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 100">
    <defs>
      <marker id="arrowhead" markerWidth="10" markerHeight="7"
              refX="0" refY="3.5" orient="auto">
        <polygon points="0 0, 5 3.5, 0 7" />
      </marker>
    </defs>
    <line x1="0" y1="50" x2="130" y2="50" stroke="#000"
          stroke-width="8" marker-end="url(#arrowhead)" />
  </svg>
</div>

<div class="step slide" data-x="-2700" data-y="-2200">
  <img src="/public/images/underpaid-issued-coded-out-2.png" width="800">
</div>

<div class="step" data-x="-3550" data-y="-650" style="border: 0px solid">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 500" >
    <defs>
      <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
        <polygon points="0 0, 5 3.5, 0 7" />
      </marker>
    </defs>
    <line x1="0" y1="0" x2="0" y2="320" stroke="#000" stroke-width="15"/>
    <line x1="0" y1="320" x2="230" y2="320" stroke="#000" stroke-width="8" marker-end="url(#arrowhead)" />
  </svg>
</div>

<div class="step" data-x="-2300" data-y="-1100" data-scale="2">
  Underpaid - VPL Help Journey
</div>

<div class="step slide" data-x="-2700" data-y="-500">
  <img src="/public/images/underpaid-issued-outstanding-1.png" width="800">
</div>

<div class="step" data-x="-1750" data-y="-500">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 100">
    <defs>
      <marker id="arrowhead" markerWidth="10" markerHeight="7"
              refX="0" refY="3.5" orient="auto">
        <polygon points="0 0, 5 3.5, 0 7" />
      </marker>
    </defs>
    <line x1="0" y1="50" x2="130" y2="50" stroke="#000"
          stroke-width="8" marker-end="url(#arrowhead)" />
  </svg>
</div>

<div class="step slide" data-x="-1200" data-y="-500">
  <img src="/public/images/underpaid-issued-outstanding-2.png" width="800">
</div>

<div class="step" data-x="-2050" data-y="600" style="border: 0px solid">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 500" >
    <defs>
      <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
        <polygon points="0 0, 5 3.5, 0 7" />
      </marker>
    </defs>
    <line x1="0" y1="0" x2="0" y2="320" stroke="#000" stroke-width="15"/>
    <line x1="0" y1="320" x2="230" y2="320" stroke="#000" stroke-width="8" marker-end="url(#arrowhead)" />
  </svg>
</div>

<div class="step slide" data-x="-1200" data-y="800">
  <img src="/public/images/underpaid-issued-outstanding-3.png" width="800">
</div>

<div class="step" data-x="-2250" data-y="1200" style="border: 0px solid">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 1000" >
    <defs>
      <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
        <polygon points="0 0, 5 3.5, 0 7" />
      </marker>
    </defs>
    <line x1="0" y1="0" x2="0" y2="900" stroke="#000" stroke-width="15"/>
    <line x1="0" y1="900" x2="310" y2="900" stroke="#000" stroke-width="8" marker-end="url(#arrowhead)" />
  </svg>
</div>

<div class="step slide" data-x="-1200" data-y="2100">
  <img src="/public/images/underpaid-issued-outstanding-4.png" width="800">
</div>




{% endblock %}
