{% extends "layout-impress.html" %}

{% block main %}


<div id="overview" class="step" data-x="-1000" data-y="-500" data-scale="5">
</div>

<div class="step" data-x="-2000" data-y="-1850">
  Journey Name
</div>

<div class="step slide" data-x="-2000" data-y="-1500">
  <img src="images/P800_Balanced_0_content_0_desktop.png" width="800" height="424">
</div>

<div class="step slide" data-x="-1000" data-y="-1500">
  <img src="images/P800_Balanced_No_Employment_0_content_0_desktop.png" width="800" height="669">
</div>

<div class="step slide" data-x="0" data-y="-1500">
  <img src="images/P800_Overpaid_Issued_0_content_0_desktop.png" width="800" height="776">
</div>

<div class="step" data-x="-2000" data-y="-850">
  Journey Name
</div>

<div class="step slide" data-x="-2000" data-y="-500">
  <img src="images/P800_Balanced_0_content_0_desktop.png" width="800" height="424">
</div>

<div class="step slide" data-x="-1000" data-y="-500">
  <img src="images/P800_Balanced_No_Employment_0_content_0_desktop.png" width="800" height="669">
</div>

<div class="step slide" data-x="0" data-y="-500">
  <img src="images/P800_Overpaid_Issued_0_content_0_desktop.png" width="800" height="776">
</div>

{% endblock %}
