{% extends "layout--svg.html" %}

{% block main %}

<h1>Test</h1>
<h2>{{ title }}</h2>

<!-- http://robsneuron.blogspot.co.uk/2013/11/using-snapsvg-to-create-box-that-snaps.html -->


<script>

  // GLOBAL VARIABLES ==========================================================

  var gridSize = 25
  var makeArrow = {
    active: false,
    draw: function(instruction){
      return paper.path(instruction).attr({class:"arrow"});
    }
  }
  var path  = null;

  // TOOLBOX ==========================================================

  var toolbox = Snap(100, 600)
  toolbox.attr({id: 'toolbox'})
  var gr_toolbox = toolbox.g().attr({id:"gr_toolbox"})

  // LABEL - TOOLBOX ==================================================
  var gr_label = toolbox.g().attr({id:"gr_label"})
  var label_toggleBtn__bkg = toolbox.rect(0, 0, 100, 30, 0).attr({ class: 'toolbox-label--bkg'})
  var label_toggleBtn__text = toolbox.text("50%", 15,'Label Template').attr({id:'test', class: 'toolbox-label--text'})
  gr_label.add(label_toggleBtn__bkg, label_toggleBtn__text)

  gr_label.toDefs()

  toolbox.use("#gr_label").attr({y:0})

  label_toggleBtn__text.attr({ text: 'ToolBox'});

  //Get val for
  var details = {}
  details.label = $('.toolbox-label--text').val();
  console.log(details.label)
  //url.node.innerHTML = "URL: "+details.url;

  // TEMPLATES ==================================================

  var nodeTemplate = toolbox.rect(0, 0, 50, 50, 5, 5).attr({id: "nodeTemplate"})
  nodeTemplate.toDefs()
  var circleTemplate = toolbox.circle(0, 0, 15, 15).attr({id: "circleTemplate"})
  circleTemplate.toDefs()

  // NODE BUTTON ==================================================

  var nodeButton = toolbox.use("nodeTemplate").transform('t35,45 s0.5').attr({class:"node"});
  //nodeButton.attr({class:"node"});
  nodeButton.mouseover(function(){
    this.addClass("active")
  }).mouseout(function(){
    this.removeClass("active")
  })

  var nodeCount = 0
  nodeButton.click(function(){
    // When clicked add a shape to the paper canvas
    // Give each of them a unique id
    var name = "node" + nodeCount
    name = paper.use("nodeTemplate")
    name.attr({class:"node"})
    name.drag(
      function (dx, dy, x, y, e) {
        var xSnap = Snap.snapTo(gridSize, orig.x + dx, 100000000);
        var ySnap = Snap.snapTo(gridSize, orig.y + dy, 100000000);
        this.attr({
          x: xSnap,
          y: ySnap
        });
      },
      function (x, y, e) {
        orig.x = e.toElement.x.baseVal.value;
        orig.y = e.toElement.y.baseVal.value;
    })
    name.mouseover(function() {
      this.addClass('active')
    }).mouseout(function() {
      this.removeClass('active')
    }).mousedown(function() {
      this.addClass('activeDrag')
    }).mouseup(function() {
      this.removeClass('activeDrag')
    })
    nodeCount++
  })



  // GRID TOGGLE BUTTON ======================================================

  // ARROW TEMPLATE ==========================================================

  var arrowTemplate = toolbox.path("M0,0 l43,0 l-10,-10 l12,10 l-12,10").attr({id: "arrowTemplate"})
  arrowTemplate.toDefs()
  var arrowButton = toolbox.use("arrowTemplate").attr({x: 25, y: 120});
  arrowButton.attr({class:"arrow"});
  arrowButton.click(function(){
    makeArrow.active = !makeArrow.active
    //console.log(makeArrow.active)
    this.toggleClass('active')
  })

  // STAGE ==========================================================

  var paper = Snap(800, 800);
  paper.attr({id: "canvas1"})
  var orig = {
    x: 0,
    y: 0
  }

  var grid = paper.g().attr({id:"grid", class:"show"});

  {% for item in script %}

    // TEXT ======
    {% if item.type == "text" %}

      paper.{{ item.type }}({{ item.x }}, {{ item.y }}, "{{ item.val }}")

    // LINE ======
    {% elif item.type == "line" %}

     {{  "var " + item.name + "=" if item.name }} paper.{{ item.type }}(
       {{ item.xStart }},
       {{ item.yStart }},
       {{ item.xEnd }},
       {{ item.yEnd }}
     )
      // Deal with any attributes
      {% if item.attr %}
        {% for prop, value in item.attr %}
          {{item.name}}.attr({ {{prop}}:"{{value}}" })
        {% endfor %}
      {% endif %}

      grid.add( {{item.name}} );

    // RECT ======
    {% elif item.type == "rect" %}

      {{  "var " + item.name + "=" if item.name }} paper.{{ item.type }}(
        {{ item.x }},
        {{ item.y }},
        {{ item.width }},
        {{ item.height }},
        {{ item.rx }},
        {{ item.ry }}
      )

      // Deal with any attributes
      {% if item.attr %}
        {% for prop, value in item.attr %}
          {{item.name}}.attr({ {{prop}}:"{{value}}" })
        {% endfor %}
      {% endif %}

    // PATH ======
    {% elif item.type == "path" %}

      {{  "var " + item.name + "=" if item.name }} paper.{{ item.type }}( "{{ item.val }}" )

      // Deal with any attributes
      {% if item.attr %}
        {% for prop, value in item.attr %}
          {{item.name}}.attr({ {{prop}}:"{{value}}" })
        {% endfor %}
      {% endif %}

    {% endif %}


  {% endfor %}


  // CREATE A MARKER ARROW ==========================================================

  var arrowMarker = paper.path("M10,10 l-10,-10 l12,10 l-12,10").attr({class: "arrow"}).transform("scale(0.2)")
  var marker = arrowMarker.marker(0,0, 15,15, 2,2)

  paper.mousedown(function(obj){
    //console.log(obj)
    if(makeArrow.active) {
      //Get start point for path
      var xStart = obj.offsetX
      var yStart = obj.offsetY
      //console.log(xStart, yStart)
      instruction = "M"+xStart+" "+yStart+"L90 90"

      //Create arrow
      //p1 = makeArrow.draw(instruction)
      //var cords = obj.offsetX +","+ obj.offsetY
      startDrawing(obj)
      //p2 = paper.line(cords).attr({class:"arrow"});
    }
  })

  //Create an arrow using the mouse
  paper.mousemove(function(obj){
    //console.log(obj)
    //Change the end point of the arrow
    //Get start point for path
    var xEnd = obj.offsetX
    var yEnd = obj.offsetY
    //Get p1
    if(typeof p2 !== 'undefined'){
      console.log(p2)
      p2.attr({
        x2:xEnd,
        y2:yEnd
      });
    }
  })

  function startDrawing(event) {
    //var cords = obj.offsetX +","+ obj.offsetY
    //console.log(event.offsetX, event.offsetY)
    path = paper.line(event.offsetX, event.offsetY, event.offsetX, event.offsetY).attr({class:"arrow", markerEnd:marker});
    paper.mousemove(function(obj){ updateDrawing(obj) })
    paper.mouseup(function(obj){ stopDrawing(obj) })
    //paper.mouseout(function(obj){ stopDrawing(obj) })
  }
  // UPDATE DRAWING ========================================================
  function updateDrawing(obj) {
    //path.addPoint(Point.parse(event));
    //Get end point for path
    var xEnd = obj.offsetX
    var yEnd = obj.offsetY
    path.attr({ x2:xEnd, y2:yEnd });
  }

  // STOP DRAWING ==========================================================
  function stopDrawing(event) {
    //Get end point for path
    //remove event listner
    paper.unmousemove()
    paper.unmouseup()
    //paper.unmouseout()
    //console.log(event.offsetX, event.offsetY)
    var xEnd = event.offsetX
    var yEnd = event.offsetY
    path.attr({ x2:xEnd, y2:yEnd });
  }


  //path1 = paper.line(25,200,200,200).attr( { class:"arrow", markerEnd:marker } );

  //s.{{ script.type }}({{ script.x }}, {{ script.y }}, "{{ script.val }}")

</script>

<script src="public/js/snap.svg-createBtn.js"></script>
<script src="public/js/snap-svg--components/defs.js"></script>
<script src="public/js/snap-svg--components/toggleBtn.js"></script>
<!--
<script src="public/js/snap-svg--components/iconEdit.js"></script>
<script src="public/js/snap-svg--components/iconDelete.js"></script>
<script src="public/js/snap-svg--components/iconClear.js"></script>
-->

<script>
  {% for icon in icons %}
    //Loop over the array creating a group of the paths
    var pathArray = "{{ icon.path }}".split(',');
    //TODO
    // I'm unsure about having the transform as part of the data
    //Maybe this should be automated from some position settings.
    // function createBtn(name, title, transform, path)
    var onMouseDown = '{{ icon.mousedown }}';
    if(typeof onMouseDown !== 'undefined'){
      onMouseDown = function(el){
        {{icon.mousedown|safe}}
      }
    }
    var callback = '{{ icon.iconcallback }}';
    if(typeof callback !== 'undefined'){
      callback = function(el){
        {{icon.iconcallback|safe}}
      }
    }
    createBtn('{{ icon.name }}', '{{ icon.title }}','{{ icon.iconTransform }}', '{{ icon.transform }}', pathArray, onMouseDown, callback);
  {% endfor %}

</script>


<button id="submit">Submit</button>



{% endblock %}
