<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/public/css/application.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/css/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/public/css/stylesheet.css">
  <script src="/public/js/snap.svg-min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  {% block main %}{% endblock %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/snap.svg-capture.js"></script>
</body>
</html>
