{% extends "layout--svg.html" %}

{% block main %}

<h1>Test</h1>
<h2>{{ title }}</h2>

<!-- http://robsneuron.blogspot.co.uk/2013/11/using-snapsvg-to-create-box-that-snaps.html -->


<script>

  var gridSize = 25;

  var toolbox = Snap(100, 400);
  toolbox.attr({id: "toolbox"})

  var gr_toolbox = toolbox.g().attr({id:"gr_toolbox"});

  var nodeTemplate = toolbox.rect(0, 0, 50, 50, 5, 5).attr({
    id: "nodeTemplate"
  })

  nodeTemplate.toDefs()
  var node1 = toolbox.use("nodeTemplate").attr({x: 20, y: 20});
  node1.attr({class:"node"});
  node1.mouseover(function(){
    this.addClass("active")
  }).mouseout(function(){
    this.removeClass("active")
  })

  var nodeCount = 0
  node1.click(function(){
    // When clicked add a shape to the paper canvas
    // Give each of them a unique id
    var name = "node" + nodeCount
    name = paper.use("nodeTemplate")
    name.attr({class:"node"})
    name.drag(
      function (dx, dy, x, y, e) {
        var xSnap = Snap.snapTo(gridSize, orig.x + dx, 100000000);
        var ySnap = Snap.snapTo(gridSize, orig.y + dy, 100000000);
        this.attr({
          x: xSnap,
          y: ySnap
        });
      },
      function (x, y, e) {
        orig.x = e.toElement.x.baseVal.value;
        orig.y = e.toElement.y.baseVal.value;
    })
    name.mouseover(function() {
      this.addClass('active')
    }).mouseout(function() {
      this.removeClass('active')
    }).mousedown(function() {
      this.addClass('activeDrag')
    }).mouseup(function() {
      this.removeClass('activeDrag')
    })
    nodeCount++
  })

  var arrowTemplate = toolbox.path("M20,110 l43,0 l-10,-10 l12,10 l-12,10").attr({class:"arrow"})
  gr_toolbox.add(arrowTemplate)
  var arrowCount = 0
  arrowTemplate.mousedown(function() {
    var name = "arrow1_" + arrowCount
    name = this.clone()
    //gr_1.add(name)
    name.drag()

    arrowCount++
  });

  var paper = Snap(500, 800);
  paper.attr({id: "canvas1"})
  console.log(paper.data())
  var orig = {
    x: 0,
    y: 0
  }

  //s.{{ script.type }}({{ script.x }}, {{ script.y }}, "{{ script.val }}")

  {% for item in script %}

    {% if item.type == "text" %}

      paper.{{ item.type }}({{ item.x }}, {{ item.y }}, "{{ item.val }}")

    {% elif item.type == "line" %}

      {{  "var " + item.name + "=" if item.name }} paper.{{ item.type }}(
        {{ item.xStart }},
        {{ item.yStart }},
        {{ item.xEnd }},
        {{ item.yEnd }}
      )
      // Deal with any attributes
      {% if item.attr %}
        {% for prop, value in item.attr %}
          {{item.name}}.attr({ {{prop}}:"{{value}}" })
        {% endfor %}
      {% endif %}

    {% elif item.type == "rect" %}

      {{  "var " + item.name + "=" if item.name }} paper.{{ item.type }}(
        {{ item.x }},
        {{ item.y }},
        {{ item.width }},
        {{ item.height }},
        {{ item.rx }},
        {{ item.ry }}
      )

      // Deal with any attributes
      {% if item.attr %}
        {% for prop, value in item.attr %}
          {{item.name}}.attr({ {{prop}}:"{{value}}" })
        {% endfor %}
      {% endif %}

    {% elif item.type == "path" %}

      {{  "var " + item.name + "=" if item.name }} paper.{{ item.type }}( "{{ item.val }}" )

      // Deal with any attributes
      {% if item.attr %}
        {% for prop, value in item.attr %}
          {{item.name}}.attr({ {{prop}}:"{{value}}" })
        {% endfor %}
      {% endif %}


    {% endif %}


  {% endfor %}

</script>

  <button id="submit">Submit</button>



{% endblock %}
